<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Chat App</title>
</head>
<body>
    <h1>My Chat App</h1>
    <form action="">
        <div>
            <label for="">Enter Your Name</label>
            <input type="text" name="username" id="">
        </div>
        <div>
            <label for="">Enter Room Id</label>
            <input type="text" name="room" id="">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>